@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.scroll-up-smooth {
  animation: scrollUp 25s linear infinite;
}

.scroll-down-smooth {
  animation: scrollDown 25s linear infinite;
}
